* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: antiquewhite;
    font-family: "Ubuntu", sans-serif;
  }
  
  h1 {
    font-size: 3rem;
    margin: 5%;
  }
  
  h4 {
    margin-top: 3%;
  }
  
  .content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #fff;
    border: 2px solid rgba(251, 251, 251, 0.055);
    border-radius: 10px;
    padding: 3%;
    line-height: 2;
  }
  
  p {
    font-size: 1.1rem;
    margin-top: 2%;
  }
  
  p ul li {
    font-size: 1.2rem;
  }
  